doctype html
html(lang='en')
  //- Include Head Tag for site
  include _components/head.pug
  +head('Setup - Collector Config')

  body.page-template
    include _components/page-header.pug
    include _components/main-nav.pug
    +navigation('setup')

    div.container
      div.row.row-offcanvas.row-offcanvas-left

        div#sidebar.col-xs-6.col-sm-3.sidebar-offcanvas
          div.list-group
            a.list-group-item.active(href='#') Collector Config
            a.list-group-item(href='#') External Device
            a.list-group-item(href='#') Codec Configuration
            a.list-group-item(href='#') Spark Services

        div.col-xs-12.col-sm-9
          div.row
            p.pull-left.visible-xs
              button.btn.btn-primary.btn-xs(type="button" data-toggle="offcanvas") Toggle nav
          div.row
            div.col-xs-12.col-md-10.col-md-offset-1
              div.content-block
                h5 System Information
                div
                  ul.list-unstyled
                    li
                      span.listlabel Room Name:
                      span#RoomName.SystemInformation Text
                    li
                      span.listlabel Room Number:
                      span#RoomNumber.SystemInformation Text
                    li
                      span.listlabel Building Name/Number:
                      span#Building.SystemInformation Text
                    li
                      span.listlabel Address:
                      span#Address.SystemInformation Text
                    li
                      span.listlabel City, State, zip:
                      span#City.SystemInformation Text
                      //- div.row
                      //-   span#State.SystemInformation Text
                      //-   span#Zip.SystemInformation Text
              div.content-block
                h5 Network Settings
                div
                  ul.list-unstyled
                    li
                      span.listlabel DHCP or Static:
                      span#Name.NetworkSettings [INSERT CHECKBOXES]
                    li
                      span.listlabel Ipv4 Address:
                      span#IPAddress.NetworkSettings Text
                    li
                      span.listlabel Subnet Mask:
                      span#NetMask.NetworkSettings Text
                    li
                      span.listlabel Gateway:
                      span#Gateway.NetworkSettings Text
                    li
                      span.listlabel Hostname:
                      span#HostName.NetworkSettings Text
              div.content-block
                h5 Internet Settings
                div
                  ul.list-unstyled
                    li
                      span.listlabel Domain Name:
                      span#DomainName.InternetSettings Text
                    li
                      span.listlabel DNS Server 1:
                      span#DNSServer1.InternetSettings Text
                    li
                      span.listlabel NS Server 2:
                      span#DNSServer2.InternetSettings Text
                    li
                      span.listlabel Proxy Server:
                      span#ProxyServer.InternetSettings Text
                    li
                      span.listlabel Proxy Username:
                      span#ProxyUsername.InternetSettings Text
                    li
                      span.listlabel Proxy Password:
                      span#ProxyPassword.InternetSettings Text
              div.content-block
                h5 Network Services
                div
                  ul.list-unstyled
                    li
                      span.listlabel NTP Server 1:
                      span#NTPServer1.NetworkServices Text
                    li
                      span.listlabel NTP Server 2:
                      span#NTPServer2.NetworkServices Text

      hr

      //- footer
      //-   p &copy; 2016 Company, Inc.



    //- <!-- Bootstrap core JavaScript
    //- ==================================================
    //- <!-- Placed at the end of the document so the pages load faster -->
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/roomready.min.js')  
    //- script(src='offcanvas.js')
