doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    //The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description' content='')
    meta(name='author' content='')
    //<link rel="icon" href="../../favicon.ico">

    title Page Template

    //Bootstrap core CSS
    link(href='css/bootstrap.min.css' rel='stylesheet')
    link(href='css/roomready.min.css' rel='stylesheet')


    //Custom styles for this template
    //- link(href='offcanvas.css' rel='stylesheet')


  body.page-template
    header.main-header.navbar-fixed-top.navbar-inverse
      div.header-container.container
        div.row
          div.navbar-header
            a.navbar-brand(href='#') RR Logo
          div.collapse.navbar-collapse
            ul.nav.navbar-right
              li 
                h5 System Hostname
              li 
                h5 System Type
    nav.main-nav.navbar.navbar-top.navbar-inverse
      div.container
        div.navbar-header
          button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div#navbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-center
            li.active
              a(href='#') Home
            li
              a(href='#setup') Setup
            li
              a(href='#security') Security
            li
              a(href='#maintenance') Maintenance
            li
              a(href='#rradmin') RR-Admin
            li
              a(href='#help') Help
    div.container
      div.row.row-offcanvas.row-offcanvas-left

        div#sidebar.col-xs-6.col-sm-3.sidebar-offcanvas
          div.list-group
            a.list-group-item.active(href='#') Link
            a.list-group-item(href='#') Link
            a.list-group-item(href='#') Link
            a.list-group-item(href='#') Link

        div.col-xs-12.col-sm-9
          div.row
            p.pull-left.visible-xs
              button.btn.btn-primary.btn-xs(type="button" data-toggle="offcanvas") Toggle nav
          div.row
            div.col-xs-12.col-md-6
              div.content-block
                h3 System Info
                div
                  p System Name:
                  p Mac Address:
                  p IP Address:
                  p Gateway:
                  p Serial Number:
              div.content-block
                h3 System License
                div
                  p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            div.col-xs-12.col-md-6
              div.content-block
                h3 Connected Devices
                div
                  p Number of Displays:
                  p Codec IP:
                  p Codec Model:
                  p Codec Firmware:
                  p Number of Codecs:
                  p Number of Drones:
              div.content-block
                h3 System Status
                div
                  div.row
                    div.col-xs-12.col-md-4
                      h5 Portal Online
                    div.col-xs-12.col-md-4
                      h5 Codec Online
                    div.col-xs-12.col-md-4
                      h5 Monitors

      hr

      //- footer
      //-   p &copy; 2016 Company, Inc.



    //- <!-- Bootstrap core JavaScript
    //- ==================================================
    //- <!-- Placed at the end of the document so the pages load faster -->
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/roomready.min.js')  
    //- script(src='offcanvas.js')
