include _mixins/mixins.pug
-var section  = 'Home';

doctype html
html(lang='en')
  //- include head tag
  +head('Room Ready - Home')

  body.page-template.home(section=section)
    #pageheader
    #mainnav(class=section)
    
    .container
      .row
        .col-xs-12.col-md-12.no-pad
          .row
            .col-xs-12.col-md-6
              .content-block
                h5 System Info
                div
                  ul.list-unstyled
                    li.col2
                      span.listlabel System Name:
                      span#Name.SystemInfo Example Name
                  ul.list-unstyled
                    li.col2
                      span.listlabel Mac Address:
                      span#MACAddress.SystemInfo Example MAC
                    li.col2
                      span.listlabel IP Address:
                      span#IPAddress.SystemInfo Example IP
                    li.col2
                      span.listlabel Gateway:
                      span#Gateway.SystemInfo Example Gateway
                  ul.list-unstyled
                    li.col2
                      span.listlabel Serial Number:
                      span#SerialNumber.SystemInfo Example Serial
              .content-block
                h5.listlabel System License
                div.SystemLicenses
                  p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            .col-xs-12.col-md-6
              .content-block
                h5 Connected Devices
                div
                  ul.list-unstyled
                    li.col2
                      span.listlabel Number of Displays:
                      span#NumberOfDisplays.ConnectedDevices #
                    li.col2
                      span.listlabel Codec IP:
                      span#CodecIp.ConnectedDevices IP
                    li.col2
                      span.listlabel Codec Model:
                      span#CodecModel.ConnectedDevices Model
                    li.col2
                      span.listlabel Codec Firmware:
                      span#CodecFirmware.ConnectedDevices Firmware
                  ul.list-unstyled
                    li.col2
                      span.listlabel Number of Codecs:
                      span#NumberOfCodecs.ConnectedDevices #
                    li.col2
                      span.listlabel Number of Drones:
                      span#NumberOfDrones.ConnectedDevices #

              .content-block
                h5 System Status
                div
                  .row
                    #Portal.SystemStatus.col-xs-12.col-sm-4
                      h6 Portal Online
                      .circle
                    #Codec.SystemStatus.col-xs-12.col-sm-4
                      h6 Codec Online
                      .circle
                    #Monitors.SystemStatus.col-xs-12.col-sm-4
                      h6 Monitors
                      .circle
          +remoteDeviceStatus()

+scripts()