include _components/mixins.pug

doctype html
html(lang='en')
  //- include head tag
  +head('Room Ready - Home')

  body.page-template
    +pageheader()
    +navigation('home')
    
    div.container
      div.col-xs-12.col-md-10.col-md-offset-1
          div.row
            div.col-xs-12.col-md-6
              div.content-block
                h5 System Info
                div
                  ul.list-unstyled
                    li
                      span.listlabel System Name:
                      span#Name.SystemInfo Example Name
                  ul.list-unstyled
                    li
                      span.listlabel Mac Address:
                      span#MACAddress.SystemInfo Example MAC
                    li
                      span.listlabel IP Address:
                      span#IPAddress.SystemInfo Example IP
                    li
                      span.listlabel Gateway:
                      span#Gateway.SystemInfo Example Gateway
                  ul.list-unstyled
                    li
                      span.listlabel Serial Number:
                      span#SerialNumber.SystemInfo Example Serial
              div.content-block
                h5.listlabel System License
                div.SystemLicenses
                  p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            div.col-xs-12.col-md-6
              div.content-block
                h5 Connected Devices
                div
                  ul.list-unstyled
                    li
                      span.listlabel Number of Displays:
                      span#NumberOfDisplays.ConnectedDevices #
                    li
                      span.listlabel Codec IP:
                      span#CodecIp.ConnectedDevices IP
                    li
                      span.listlabel Codec Model:
                      span#CodecModel.ConnectedDevices Model
                    li
                      span.listlabel Codec Firmware:
                      span#CodecFirmware.ConnectedDevices Firmware
                  ul.list-unstyled
                    li
                      span.listlabel Number of Codecs:
                      span#NumberOfCodecs.ConnectedDevices #
                    li
                      span.listlabel Number of Drones:
                      span#NumberOfDrones.ConnectedDevices #

              div.content-block
                h5 System Status
                div
                  div.row
                    div#Portal.SystemStatus.col-xs-12.col-sm-4
                      h6 Portal Online
                      div.circle
                    div#Codec.SystemStatus.col-xs-12.col-sm-4
                      h6 Codec Online
                      div.circle
                    div#Monitors.SystemStatus.col-xs-12.col-sm-4
                      h6 Monitors
                      div.circle
          div.row.remoteDevice
            div.col-xs-12.col-md-12
              div.content-block
                h5 Remote Device Status
                div.table-responsive
                  table#RemoteDevice.table
                    tr
                      th Room Name
                      th IP Address
                      th Status
                      th Options
                    tr
                      td.roomName Redbird Room
                      td.ipAddress 192.168.101.40
                      td.status.issues Issues
                      td.options 
                        button Update
                        button Configure
                        button Capture
                    tr
                      td.roomName Engineering Room
                      td.ipAddress 192.168.101.40
                      td.status.online Online
                      td.options 
                        button Update
                        button Configure
                        button Capture
                    tr
                      td.roomName Redbird Room
                      td.ipAddress 192.168.101.40
                      td.status.offline Offline
                      td.options 
                        button Update
                        button Configure
                        button Capture



      //- hr

      //- footer
      //-   p &copy; 2016 Company, Inc.



    //- <!-- Bootstrap core JavaScript
    //- ==================================================
    //- <!-- Placed at the end of the document so the pages load faster -->
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/roomready.min.js')  
    //- script(src='offcanvas.js')
