include _components/mixins.pug

doctype html
html(lang='en')
  doctype html
  //- include head tag
  +head('PAGE LIST')


  body.listpage
    div.container
      div.col-xs-12.col-md-10.col-md-offset-1
          div.row
            div.col-xs-12.col-md-6
              h2 Room Ready Front End Build
              div
                h4 Login
                ul
                  li
                    a(href="login.html") Login Page
                h4 Home
                ul
                  li
                    a(href="home.html") Home Page
                h4 Setup
                ul
                  li
                    a(href="setup-collector-config.html") Collector Config
                  li
                    a(href="setup-external-devices.html") External Devices
                  li
                    a(href="setup-codec-configuration.html") Codec Configuration
                h4 Security
                ul
                  li
                    a(href="security-certificates.html") Certificates
                  li
                    a(href="security-8021x.html") 802.1x
                  li
                    a(href="security-users.html") Users



