extends _modules/Template-2col.pug

block variables
  -var pagename   = 'Security - Users';
  -var section    = 'Security';
  -var subsection = 'Users';

block secondaryMenu

block content
  div.content-block
    h5 User Setup
    div
      ul.list-unstyled
        li.col2
          span.listlabel Username:
          div
            input#username.SecurityUsers(type="text"  placeholder="#UserName" value="{{ SecurityUsers.UserName }}")
        li.col2
          span.listlabel Password:
          div
            input#password.SecurityUsers(type="password"  placeholder="#Password" value="{{ SecurityUsers.Password }}")
        li.col2
          span.listlabel User Type:
          div
            label
              input#admin.SecurityUsers(type="radio" name="securityUserType" value="Admin")
              span.listlabel Admin
            label
              input#view.SecurityUsers(type="radio" name="securityUserType" value="View")
              span.listlabel View
        li.col2
          div
          div
            button.securityUsers#add Add
        li.col3
          div
          div
          div
            button.securityUsers#save Save
  div.content-block
    h5 Current Users
    div.currentUsers#currentUsers
      ul.list-unstyled   
        li.col3
          span.listlabel User 1
          div
            label
              input#Admin.currentUser(type="radio" name="currentUser1" value="Admin")
              span.listlabel Admin
            label
              input#View.currentUser(type="radio" name="currentUser1" value="View")
              span.listlabel View
          div
            button Delete
        

block additionalScripts
  script.
    $(document).ready(function () {
      $(document).on('click', '.securityUsers', function(){ 
        // #UserName is the only element in this class that gets a response
        var login = $('.SecurityUsers#username').val() + "";
        var password = $('.SecurityUsers#password').val() + "";
        if (login.length < 5 || password.length < 5) {
          alert("Login and Password must have at least five characters each!")
          return
        }
        var admin = $(".SecurityUsers#admin:checked").val() + "";
        admin = admin.toLowerCase();
        admin == "admin" ? admin = "admin" : admin = "view";
        var jStr = `
        {
          "email": "`+ "" + `",
          "login": "`+ $('.SecurityUsers#username').val() + `",
          "password": "`+ $('.SecurityUsers#password').val() + `",
          "permissions": "`+ admin + `",
        }
        `;
        newUser(jStr, newUserResponse);
      });

      $(document).on('click', '.userDelete', function(){ 
        // #UserName is the only element in this class that gets a response
        var login = this.id;
        var jStr = `
        {
          "login": "`+ this.id + `"
        }
        `;
        //alert(jStr)
        userDelete(jStr, newUserResponse);
      });

      $(document).on('click', '.userType', function(){ 
        // #UserName is the only element in this class that gets a response
        var login = this.id;
        
        //alert(this.id + " - " + $(this).val())
        var jStr = `
        {
          "login": "`+ this.id + `",
          "permissions": "` + $(this).val().toLowerCase() + `"
        }
        `;
        //alert(jStr)
        userMod(jStr, dummy);
      });

      
      //$("#main-nav").load("static/main-nav.html"); 
      // $("#subNav").load("/static/setupNav.html"); 
      // serialDeviceLastScanTime();
      // setInterval(serialDeviceLastScanTime, 2000);
    });
    function userMod(jStr, func){
        $.ajax({ 
            type: 'POST',
            url: 'userMod',
            data: jStr,
            success: function (data)  { 
                func(data) 
            },
            contentType: "application/json; charset=utf-8",
            dataType: 'text'
        });
    }
    function newUser(jStr, func){
        $.ajax({ 
            type: 'POST',
            url: 'newUser',
            data: jStr,
            success: function (data)  { 
                func(data) 
            },
            contentType: "application/json; charset=utf-8",
            dataType: 'text'
        });
    }
    function userDelete(jStr, func){
        $.ajax({ 
            type: 'POST',
            url: 'userDelete',
            data: jStr,
            success: function (data)  { 
                func(data) 
            },
            contentType: "application/json; charset=utf-8",
            dataType: 'text'
        });
    }
    function newUserResponse(data){
      //alert(data)
      var j = JSON.parse(data);
      if (j.error != null) {
        alert(j.error)
        return
      }
      // put all users in the correct (currentUsers) div
      newDiv = "";
      var ju = j.users;
      for (var k in ju){
        var adminChecked = "";
        ju[k].permissions == "admin" ? adminChecked = "checked" : adminChecked = ""; 
        var viewChecked = "";
        ju[k].permissions == "view" ? viewChecked = "checked" : viewChecked = ""; 
        //alert("2 " + ju[k].login);
        var divTemplate = `
          <li class="col3"><span class="userLogin listlabel">` + ju[k].login + `</span>
            <div>
              <label>
                <input class="userType" id="` + ju[k].login + `" type="radio" name="` + ju[k].login + `" value="Admin" ` + adminChecked + `><span class="listlabel">Admin</span>
              </label>
              <label>
                <input class="userType" id="` + ju[k].login + `" type="radio" name="` + ju[k].login + `" value="View" ` + viewChecked + `><span class="listlabel">View</span>
              </label>
            </div>
            <div>
              <button class="userDelete listlabel" id="` + ju[k].login + `" >Delete</button>
            </div>
          </li>
        `;
        //alert(divTemplate);
        newDiv += divTemplate;  
          // do what you want with artist
      }
      newDiv = `<ul class="list-unstyled">` + newDiv + `</ul>`
      $("#currentUsers.currentUsers").html(newDiv)
      //alert("3 " + newDiv)
    } 

    function dummy(){
        return
    }
    function result(status, data) {
        alert("something\n" + status + "\n" + data + "\n");
    }
