extends Template-2col.pug

block variables
  -var pagename   = 'Security - Certificates';
  -var section    = 'Security';
  -var subsection = 'Certificates';

block secondaryMenu
  +securityMenu( subsection )

block content
  div.content-block
    h5 Certificate Setup
    div
      ul.list-unstyled
        li.col2
          span.listlabel Certificate:
          div
            button Upload
        li.col2
          span.listlabel Private Key (Optional):
          div
            button Upload
        li.col2
          span.listlabel Passphrase (Optional):
          div
            input#PassPhrase.SecurityCertificates(type="password"  placeholder="#PassPhrase" value="{{ SecurityCertificates.PassPhrase }}")
        li.col2
          span.listlabel Communications Type:
          div
            label
              input#HTTP.communicationsType(type="checkbox" value="HTTP")
              span.listlabel HTTP
            label
              input#HTTPS.communicationsType(type="checkbox" value="HTTPS")
              span.listlabel HTTPS
            label
              input#Both.communicationsType(type="checkbox" value="Both")
              span.listlabel Both
        li.col2
          span.listlabel Certificate Authority:
          div
            button Upload
        li.col3
          div
          div
          div
            button Save