extends _modules/Template-2col.pug

block variables
  -var pagename   = 'Setup - Spark Services';
  -var section    = 'Setup';
  -var subsection = 'Spark Services';

block secondaryMenu

block content
  div.content-block
    h5 Spark Integration Settings
    p Do not change these settings without RR Support Notification
    div
      ul.list-unstyled
        li.col3
          span.listlabel Spark Access Token:
          div
            input#AccessToken.Spark(type="text"  placeholder="#Access Token" value="{{ Spark.AccessToken }}")
          div
            button Show Rooms
        li.col2
          div
          div
            h6 Available Rooms
            button Add Room 1
            button Add Room 2
        li.col2
          span.listlabel Spark Room ID:
          div
            input#RoomID.Spark(type="text"  placeholder="#Access Token" value="{{ Spark.RoomID }}")
        li.col2
          span.listlabel Spark Enable Surveys:
          div
            label
              input#SurveysEnabled.Spark(type="checkbox" value="")
              span.listlabel Enable Survey
        li.col2
          span.listlabel Spark Enable Diagnostics:
          div
            label
              input#ReportIssues.Spark(type="checkbox" value="")
              span.listlabel Enable Diagnostics
        li.col2even
          div
            button Send Test Message
          div 
            button Save
  div.content-block
    h5 Room Services Configuration
    div
      //- ########################################## Room Services Bot ##########################################
      h6 Conference Room Bot
      ul.list-unstyled
        li.col2
          span.listlabel Email:
          div
            input#emailAddr.room(type="text" placeholder="#Email" value="{{ Bots.Email }}")
        li.col2
          span.listlabel Token ID:
          div
            input#botID.room(type="text"  placeholder="#Token" value="{{ .Bots.RoomBotToken }}")
        li.col2
          div
          div
            button#getRoomIDs.room Show Available Rooms
        li.col2
          span.listlabel Room ID:
          div
            input#roomID.room(type="text"  placeholder="Room ID" value="{{ .Bots.RoomRoomID }}" readonly)
    div#roomIdSelect.room
    div
      //- ########################################## Spark Services Bot ##########################################
      hr
      h6 Spark Services Bot
      ul.list-unstyled
        li.col2
          span.listlabel Email:
          div
            input#emailAddr.sparkServices(type="text" placeholder="#Email" value="{{ sparkServices.Email }}")
        li.col2
          span.listlabel Token ID:
          div
            input#botID.sparkServices(type="text"  placeholder="#Token" value="{{ sparkServices.Token }}")
        li.col2
          div
          div
            button#getRoomIDs.sparkServices Show Available Rooms
        li.col2
          span.listlabel Room ID:
          div
            input#roomID.sparkServices(type="text"  placeholder="#Room" value="{{ sparkServices.Room }}")
    div#roomIdSelect.sparkServices
    div
      //- ########################################## Help Desk Bot ##########################################
      hr
      h6 Help Desk Bot
      ul.list-unstyled
        li.col2
          span.listlabel Email:
          div
            input#Email.HelpDeskBot(type="text" placeholder="#Email" value="{{ HelpDeskBot.Email }}")
        li.col2
          span.listlabel Token ID:
          div
            input#Token.HelpDeskBot(type="text"  placeholder="#Token" value="{{ HelpDeskBot.Token }}")
        li.col2
          div
          div
            button#showAvailableRooms.HelpDeskBot Show Available Rooms
        li.col2
          span.listlabel Room ID:
          div
            input#Room.HelpDeskBot(type="text"  placeholder="#Room" value="{{ HelpDeskBot.Room }}")
    div.roomIdSelect#helpDesk
    div
      //- ########################################## Concierge Bot ##########################################
      hr
      h6 Concierge Bot
      ul.list-unstyled
        li.col2
          span.listlabel Email:
          div
            input#Email.ConciergeBot(type="text" placeholder="#Email" value="{{ ConciergeBot.Email }}")
        li.col2
          span.listlabel Token ID:
          div
            input#Token.ConciergeBot(type="text"  placeholder="#Token" value="{{ ConciergeBot.Token }}")
        li.col2
          div
          div
            button#showAvailableRooms.ConciergeBot Show Available Rooms
        li.col2
          span.listlabel Room ID:
          div
            input#Room.ConciergeBot(type="text"  placeholder="#Room" value="{{ ConciergeBot.Room }}")
    div.roomIdSelect#concierge
    div
      //- ########################################## Facilities Bot ##########################################
      hr
      h6 Facilities Bot
      ul.list-unstyled
        li.col2
          span.listlabel Email:
          div
            input#Email.FacilitiesBot(type="text" placeholder="#Email" value="{{ FacilitiesBot.Email }}")
        li.col2
          span.listlabel Token ID:
          div
            input#Token.FacilitiesBot(type="text"  placeholder="#Token" value="{{ FacilitiesBot.Token }}")
        li.col2
          div
          div
            button#showAvailableRooms.FacilitiesBot Show Available Rooms
        li.col2
          span.listlabel Room ID:
          div
            input#Room.FacilitiesBot(type="text"  placeholder="#Room" value="{{ FacilitiesBot.Room }}")
    div.roomIdSelect#facilities
    div
      ul.list-unstyled
        li.col3
          div
          div
          div
            button#Save.bot Save

block additionalScripts
  script.
    $(document).ready(function () {
      $('.botTokenSelect').prop("disabled", true);
     
      $('.admin').keyup(function () { // Value in 'Adiministrator Token' has changed
          if ($('.admin').val() == ""){
              $('.botTokenSelect').prop("disabled", true);
          }else{
              $('.botTokenSelect').prop("disabled", false);
          }
      });
      $('.getRoomIDs').click(function () { // retrieve and display potential room IDs
          if ($('#' + this.id + '.botID').val() == ""){
              alert("Cannot get Rooms with empty Bot Token.");
              return;
          }
          var jStr = '{"Type":"command", "Class":"getRoomIDs", "Id":"' + this.id +
              '","Data":"' + $('#' + this.id + '.botID').val() + '"}';
          var selector = '#' + this.id + '.roomIdSelect';
          //alert(selector);
          $.ajax({
              type: 'POST',
              url: 'updateCodecConfig',
              //data: JSON.stringify(jStr),
              data: jStr,
              success: function (data) { $(selector).html(data); },
              //success: function (data) { alert(data); },
              contentType: "application/json; charset=utf-8",
              dataType: 'text'
          });
      });
      $('div').on("click", ".setRoomIDs", function(){ // late binding
          var jStr = '{"Type":"string", "Class":"bots", "Id":"' + this.id + "RoomID" + 
              '","Data":"' + this.value + '"}   ';
          $('#' + this.id + '.roomIdSelect').html(""); // get rid of the buttons
          $('#' + this.id + '.roomID').val(this.value)
          postUpdate(jStr);
      });

      $(".botID").keyup(function () { // handle bot id string changes
          var jStr = '{"Type":"string", "Class":"bots", "Id":"' + this.id + "BotToken" + 
              '","Data":"' + this.value + '"}   ';
          postUpdate(jStr);
      });

      $("#nav").load("/static/nav.html"); 
      $("#subNav").load("/static/setupNav.html");  
               
    });
    function postUpdate(jStr){
        $.ajax({
            type: 'POST',
            url: 'updateCodecConfig',
            //data: JSON.stringify(jStr),
            data: jStr,
            success: function (data) { alert('data: ' + data); },
            contentType: "application/json; charset=utf-8",
            dataType: 'json'
        });
    }
    function result(status, data) {
        alert("something\n" + status + "\n" + data + "\n");
    }