extends Template-2col.pug

block variables
  -var pagename   = 'Setup - Codec Configuration';
  -var section    = 'setup';
  -var subsection = 'Codec Configuration';

block secondaryMenu
  +setupMenu( subsection )

block content
  div.content-block
    h5 Codec Connection
    div
      ul.list-unstyled
        li.col2
          span.listlabel Codec IP Address:
          div
            input#IPAddress.CodecConnection(type="text"  placeholder="#IP ADDRESS" value="{{ .CodecConnection.IPAddress }}")
        li.col2
          span.listlabel Codec Username:
          div
            input#UserName.CodecConnection(type="text"  placeholder="#Username" value="{{ .CodecConnection.UserName }}")
        li.col2
          span.listlabel Codec Password:
          div
            input#Password.CodecConnection(type="text"  placeholder="#Password" value="{{ .CodecConnection.Password }}")
        li.col3
          div
            button#testConnection.CodecConnection Test Codec Connection
          div
            button#standbyActivate.CodecConnection Activate Standby
          div
            button#standbyDeactivate.CodecConnection Deactivate Standby
  div.content-block
    h5 User Experience Settings
    div
      ul.list-unstyled
        li.col3
          span.listlabel User Experience Reset:
          div
            label
              input#enabled.UserExperienceReset(type="radio" name="UserExperienceReset" value="enabled")
              span.listlabel Activate
          div
            label
              input#disabled.UserExperienceReset(type="radio" name="UserExperienceReset" value="disabled")
              span.listlabel Deactivate
        li.col3
          span.listlabel Do Not Disturb During Call:
          div
            label
              input#enabled.DoNotDisturb(type="radio" name="DoNotDisturb" value="enabled")
              span.listlabel Activate
          div
            label
              input#disabled.DoNotDisturb(type="radio" name="DoNotDisturb" value="disabled")
              span.listlabel Deactivate
        li.col2
          span.listlabel Send Configuration:
          div
            select.dropdown
              option(value="#roomType1") #roomType1
              option(value="#roomType2") #roomType2
              option(value="#roomType3") #roomType3
              option(value="#roomType4") #roomType4
    p Do Not Complete This Step Until You Have Finished Your Install
    div
      ul.list-unstyled
        li.col2
          span.listlabel Capture Codec Configuration
          div
            button#capture.ux Capture
        li.col3
          span.listlabel Register Feedbacks
          div
            button#register.ux Register
          div
            button#deregister.ux DeRegister
