extends Template-2col.pug

block variables
  -var pagename   = 'Setup - External Devices';
  -var section    = 'setup';
  -var subsection = 'External Devices';

block secondaryMenu
  +setupMenu( subsection )

block content
  div.content-block
    h5 Monitors
    p Make sure your Monitors are off
    div
      ul.list-unstyled
        li.col2
          span.listlabel Scan for Monitors:
          div
            button#scan.scan SCAN
        li.col2
          span.listlabel Scan Results:
          span#monitorCount 0
        li.col2even
          div
            button#on.monitorControl Turn Monitors On
          div
            button#off.monitorControl Turn Monitors Off
  div.content-block
    h5 Light Configuration
    div
      ul.list-unstyled
        li.col2
          span.listlabel Enable:
          div
            input#Enabled.Enable(type="checkbox" value="")
        li.col2
          span.listlabel OCC Sensor Timeout:
          div
            input(type="text"  placeholder="Sensor Timeout" value="")
        li.col2
          span.listlabel Enter Your Devices Here:
          div
            input#NetMask.NetworkSettings(type="text"  placeholder="Devices" value="")
        li.col2
          div
          label
            input(type="checkbox" value="")
            span.listlabel Is a Switch
        li.col2
          div
          label
            input(type="checkbox" value="")  
            span.listlabel Is Interior
        li.col2
          div
          label
            input(type="checkbox" value="")
            span.listlabel Use Color Temp
        li.col2
          div
          label
            input(type="checkbox" value="")
            span.listlabel Use PIR
        li.col2
          div
          label
            input(type="checkbox" value="")
            span.listlabel Is Indicator
        lili.col2
          div
          button Add
    div
      table
        h5 Device List
