include _components/mixins.pug

block variables
  -var pagename   = 'Page';
  -var section    = 'Home';
  -var subsection = 'Collector Config';

doctype html
html(lang='en')
  //- include head tag
  +head( pagename )

  body.page-template
    +pageheader()
    +navigation( section )

    div.container
      div.row.row-offcanvas.row-offcanvas-left

        div#sidebar.col-xs-6.col-sm-3.col-sm-offset-1.sidebar-offcanvas
          block secondaryMenu
            p example menu
            +setupMenu( subsection )

        div.col-xs-12.col-sm-6
          div.row
            p.pull-left.visible-xs
              button.btn.btn-default(type="button" data-toggle="offcanvas") #{section} Menu
          div.row
            //- div.col-xs-12.col-md-10.col-md-offset-1
            div.col-xs-12.col-sm-12
              block content
                p example content
      block fullWidthContent

      //- hr

      //- footer
      //-   p &copy; 2016 Company, Inc.



    //- <!-- Bootstrap core JavaScript
    //- ==================================================
    //- <!-- Placed at the end of the document so the pages load faster -->
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/roomready.min.js')  
    //- script(src='offcanvas.js')
