include _components/mixins.pug

block variables
  -var pagename   = 'Page';
  -var section    = 'home';
  -var subsection = 'Collector Config';

doctype html
html(lang='en')
  //- include head tag
  +head( pagename )

  body.page-template
    +pageheader()
    +navigation( section )

    div.container
      div.row.row-offcanvas.row-offcanvas-left

        div#sidebar.col-xs-6.col-sm-3.sidebar-offcanvas
          block secondaryMenu
            p example menu
            +setupMenu( subsection )

        div.col-xs-12.col-sm-9
          div.row
            p.pull-left.visible-xs
              button.btn.btn-primary.btn-xs(type="button" data-toggle="offcanvas") Toggle nav
          div.row
            div.col-xs-12.col-md-10.col-md-offset-1
              block content
                p example content

      hr

      //- footer
      //-   p &copy; 2016 Company, Inc.



    //- <!-- Bootstrap core JavaScript
    //- ==================================================
    //- <!-- Placed at the end of the document so the pages load faster -->
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/roomready.min.js')  
    //- script(src='offcanvas.js')
