<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags-->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title>Security - Users</title>
    <!--Bootstrap core CSS-->
    <link rel="stylesheet" href="css/roomready-clean.css"/>
  </head>
  <body class="page-template" section="Security" page="Users">
    <div id="pageheader"></div>
    <div class="Security" id="mainnav"></div>
    <div class="container">
      <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas no-pad" id="sidebar">
        </div>
        <div class="col-xs-12 col-sm-9 no-pad-right">
          <div class="row">
            <p class="pull-left visible-xs">
              <button class="btn btn-default" type="button" data-toggle="offcanvas">Security Menu</button>
            </p>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <div class="content-block">
                <h5>User Setup</h5>
                <div>
                  <ul class="list-unstyled">
                    <li class="col2"><span class="listlabel">Username:</span>
                      <div>
                        <input class="SecurityUsers" id="username" type="text" placeholder="#UserName" value="{{ SecurityUsers.UserName }}">
                      </div>
                    </li>
                    <li class="col2"><span class="listlabel">Password:</span>
                      <div>
                        <input class="SecurityUsers" id="password" type="password" placeholder="#Password" value="{{ SecurityUsers.Password }}">
                      </div>
                    </li>
                    <li class="col2"><span class="listlabel">User Type:</span>
                      <div>
                        <label>
                          <input class="SecurityUsers" id="admin" type="radio" name="securityUserType" value="Admin"><span class="listlabel">Admin</span>
                        </label>
                        <label>
                          <input class="SecurityUsers" id="view" type="radio" name="securityUserType" value="View"><span class="listlabel">View</span>
                        </label>
                      </div>
                    </li>
                    <li class="col2">
                      <div></div>
                      <div>
                        <button class="securityUsers" id="add">Add</button>
                      </div>
                    </li>
                    <li class="col3">
                      <div></div>
                      <div></div>
                      <div>
                        <button class="securityUsers" id="save">Save</button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="content-block">
                <h5>Current Users</h5>
                <div class="currentUsers" id="currentUsers">
                  <ul class="list-unstyled">  
                    {{range $index, $element := .users}}
                      <li class="col3"><span class="userLogin listlabel">{{$element.login}}</span>
                        <div>
                          <label>
                            <input class="userType" id="{{$element.login}}" name="{{$element.login}}" type="radio" value="Admin" {{if eq $element.permissions "admin"}}checked{{end}}><span class="listlabel">Admin</span>
                          </label>
                          <label>
                            <input class="userType" id="{{$element.login}}" name="{{$element.login}}" type="radio" value="View" {{if eq $element.permissions "view"}}checked{{end}}><span class="listlabel">View</span>
                          </label>
                        </div>
                        <div>
                          <button class="userDelete listlabel" id="{{$element.login}}" >Delete</button>
                        </div>
                      </li>
                    {{end}}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/roomready.min.js"> </script>
<script>
  $(document).ready(function () {
    $(document).on('click', '.securityUsers', function(){ 
      // #UserName is the only element in this class that gets a response
      var login = $('.SecurityUsers#username').val() + "";
      var password = $('.SecurityUsers#password').val() + "";
      if (login.length < 5 || password.length < 5) {
        alert("Login and Password must have at least five characters each!")
        return
      }
      var admin = $(".SecurityUsers#admin:checked").val() + "";
      admin = admin.toLowerCase();
      admin == "admin" ? admin = "admin" : admin = "view";
      var jStr = `
      {
        "email": "`+ "" + `",
        "login": "`+ $('.SecurityUsers#username').val() + `",
        "password": "`+ $('.SecurityUsers#password').val() + `",
        "permissions": "`+ admin + `",
      }
      `;
      newUser(jStr, newUserResponse);
    });
  
    $(document).on('click', '.userDelete', function(){ 
      // #UserName is the only element in this class that gets a response
      var login = this.id;
      var jStr = `
      {
        "login": "`+ this.id + `"
      }
      `;
      //alert(jStr)
      userDelete(jStr, newUserResponse);
    });
  
    $(document).on('click', '.userType', function(){ 
      // #UserName is the only element in this class that gets a response
      var login = this.id;
      
      //alert(this.id + " - " + $(this).val())
      var jStr = `
      {
        "login": "`+ this.id + `",
        "permissions": "` + $(this).val().toLowerCase() + `"
      }
      `;
      //alert(jStr)
      userMod(jStr, dummy);
    });
  
    
    //$("#main-nav").load("static/main-nav.html"); 
    // $("#subNav").load("/static/setupNav.html"); 
    // serialDeviceLastScanTime();
    // setInterval(serialDeviceLastScanTime, 2000);
  });
  function userMod(jStr, func){
      $.ajax({ 
          type: 'POST',
          url: 'userMod',
          data: jStr,
          success: function (data)  { 
              func(data) 
          },
          contentType: "application/json; charset=utf-8",
          dataType: 'text'
      });
  }
  function newUser(jStr, func){
      $.ajax({ 
          type: 'POST',
          url: 'newUser',
          data: jStr,
          success: function (data)  { 
              func(data) 
          },
          contentType: "application/json; charset=utf-8",
          dataType: 'text'
      });
  }
  function userDelete(jStr, func){
      $.ajax({ 
          type: 'POST',
          url: 'userDelete',
          data: jStr,
          success: function (data)  { 
              func(data) 
          },
          contentType: "application/json; charset=utf-8",
          dataType: 'text'
      });
  }
  function newUserResponse(data){
    //alert(data)
    var j = JSON.parse(data);
    if (j.error != null) {
      alert(j.error)
      return
    }
    // put all users in the correct (currentUsers) div
    newDiv = "";
    var ju = j.users;
    for (var k in ju){
      var adminChecked = "";
      ju[k].permissions == "admin" ? adminChecked = "checked" : adminChecked = ""; 
      var viewChecked = "";
      ju[k].permissions == "view" ? viewChecked = "checked" : viewChecked = ""; 
      //alert("2 " + ju[k].login);
      var divTemplate = `
        <li class="col3"><span class="userLogin listlabel">` + ju[k].login + `</span>
          <div>
            <label>
              <input class="userType" id="` + ju[k].login + `" type="radio" name="` + ju[k].login + `" value="Admin" ` + adminChecked + `><span class="listlabel">Admin</span>
            </label>
            <label>
              <input class="userType" id="` + ju[k].login + `" type="radio" name="` + ju[k].login + `" value="View" ` + viewChecked + `><span class="listlabel">View</span>
            </label>
          </div>
          <div>
            <button class="userDelete listlabel" id="` + ju[k].login + `" >Delete</button>
          </div>
        </li>
      `;
      //alert(divTemplate);
      newDiv += divTemplate;  
        // do what you want with artist
    }
    newDiv = `<ul class="list-unstyled">` + newDiv + `</ul>`
    $("#currentUsers.currentUsers").html(newDiv)
    //alert("3 " + newDiv)
  } 
  
  function dummy(){
      return
  }
  function result(status, data) {
      alert("something\n" + status + "\n" + data + "\n");
  }
</script>