include ../_mixins/mixins.pug

-var menu = { 'Licenses': 'rradmin-licenses.html', 'Remote Rooms': 'rradmin-remote-rooms.html', 'Other Integrations': 'rradmin-other-integrations.html' };
+subnav( menu )