include ../_mixins/mixins.pug

-var menu = { 'Collector Config': 'SetupCollectorConfig', 'External Devices': 'SetupExternalDevices', 'Codec Configuration': 'SetupCodecConfig', 'Spark Services': 'SetupSparkServices' };
+subnav( menu )