include ../_mixins/mixins.pug

-var menu = { 'Collector Config': 'setup-collector-config.html', 'External Devices': 'setup-external-devices.html', 'Codec Configuration': 'setup-codec-configuration.html', 'Spark Services': 'setup-spark-services.html' };
+subnav( menu )