header.main-header.navbar-fixed-top.navbar-inverse
  div.header-container.container
    div.row
      div.navbar-header
        a.navbar-brand(href='#')
          img(alt='Brand' src='...')
      div.collapse.navbar-collapse
        ul.nav.navbar-right
          li 
            h5.SystemHostname System Hostname
          li 
            h5.SystemType System Type