header.main-header.navbar.navbar-default.navbar-static-top.navbar-inverse
  div.header-container.container
    div.row
      div.navbar-header
        a.navbar-brand(href='#')
          img(alt='Room Ready' src='img/room-ready-logo.png')
      div
        ul.nav.navbar-right
          li 
            h5.SystemHostname System Hostname
          li 
            h5.SystemType System Type